*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1120px;
    margin: auto;
}

.container_main{
    width: 40%;
    margin: 3% auto 0;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 15px 0;
}

.row{
    width: 100%;
    margin: auto;
}
input{
    width: 85%;
    margin: 4% auto;
    padding: 20px 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 55px;
    text-align: right;
}

button{
    width: 20%;
    margin: 2% 1%;
    padding: 20px 0;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    background-color: rgb(33, 33, 33);
    border: none;
}

.red{
    background-color: red;
}

.light_gray{
    background-color: rgb(56, 56, 56);
}

.orange{
    background-color: orangered;
}

@media screen and (max-width:968px) {
    .wrapper{
        max-width: 670px;
    }
    .container_main{
        width: 70%;
    }
}

@media screen and (max-width:360px) {
    .wrapper{
        max-width: 300px;
    }
    .container_main{
        width: 100%;
    }
    input{
        width: 85%;
        margin: 4% auto;
        padding: 15px 10px;
        font-size: 35px;
    }
    
    button{
        width: 20%;
        margin: 2% 1%;
        padding: 10px 0;
        font-size: 25px;
    }
}